<h1>Todo tasks ({{todoCount}})</h1>    
<md-list>
    <md-list-item *ngFor="let task of tasks" (click)="select(task)" style="cursor:pointer;">
    <span [ngSwitch]="task.done">
        <template [ngSwitchCase]="true">
            <i class="material-icons">star</i>
            <h4 style="display:inline; vertical-align:middle; text-decoration:line-through;">{{task.name}}</h4>
        </template>
        <template [ngSwitchCase]="false">
            <i class="material-icons">star_border</i>
            <h4 style="display:inline; vertical-align:middle;">{{task.name}}</h4>
        </template>
    </span>
    
  </md-list-item>
</md-list>
<task *ngIf="selectedTask" [task]="selectedTask" (statusChanged)="calculateTodoCount()"></task>